body
{
	background: #c5d5dd;
	margin: 0px;
	padding: 0px;
}
iframe
{
	border: 2px solid #cccccc;
	margin: 0px;
	padding: 0px;	
}
iframe:hover
{
	border: 2px solid #336699;
}

.noInfo
{
    width:600px; 
    margin:0 auto;
    position:fixed;
    left:54%;
    top:20%;
    margin-left:-400px; 
	font-size: 20px;
	text-align: center;
    background: white;	
	z-index: 9999;
	border: 10px solid #888888;
	border-radius: 5px;
	display: none;	
	padding: 10px;
	background-color: #F0FFF0;
}

.screen
{
	padding: 10px;
	display: block;
	float:left;
}

.screen:hover
{
	border: 2px solid #336699;
}

.labelClass
{
	color: #336699;
	text-align: center;
}
.bntLeftClass
{
	float: left;
	background-color: #F0FFF0;
	color: #888888;
	padding : 5px;
	margin: 5px;
	text-align: center;
	width: 75px;
}

.bntRightClass
{
	float: right;
	background-color: #F0FFF0;
	color: #888888;
	padding : 5px;
	margin: 5px;
	text-align: center;
	width: 75px;
}

.bntLeftClass:hover , .bntRightClass:hover
{
	background-color: #336699;
	color: white;
	cursor: pointer;
}

/*
*/
.left_panel
{
	float: left;
	width: 48%;
	overflow:hidden;
}
.right_panel
{
	float: left;
	width: 48%;
	overflow:hidden;
}
.midle_panel
{
	float: left; 
	width: 4%; 
	text-align: center;
}
.btn
{
	background-color: #F0FFF0;
	padding: 5px; 
	margin: 5px;
	text-align: center;
}

.btn2
{
	background-color: #336699;
	color: white;
	padding: 5px; 
	margin: 5px;
	text-align: center;
	width: 100px;
}

.btn:hover, .helpClose:hover
{
	background-color: #336699;
	color: white;
	cursor: pointer;
}

.helpClose
{
	float: right; 
	background-color: #cccccc; 
	padding: 5px; 
	margin: 5px;
	text-align: center;
	width: 100px;
}

.help
{
    width:600px; 
    margin:0 auto;
    position:fixed;
    left:54%;
    top:20%;
    margin-left:-400px; 

    background: white;	
	z-index: 9999;
	border: 10px solid #888888;
	border-radius: 5px;
	display: none;	
	padding: 10px;
	background-color: #F0FFF0;
}
.help_title
{
	background-color: #cccccc;
	padding: 5px; 
	margin: 5px;
	text-align: center;	
}

.help_content
{
	border: 1px solid #cccccc;
	border-radius: 2px;
	padding: 10px;
}
