#mytooltip{
  position:fixed;
  border-style: outset;
  border: 10px outset #85ADFF;
  border-radius: 16px;
  background:white;
  padding:10px;
  color:#333;
  z-index:99999999999;
  min-width: 500px;
  top: 10px;
  left: 10px;
  text-align:center;
  word-wrap:break-word;
  box-shadow: #666 0px 0px 10px;
}

#mytooltip p{
	font-family: 'Calibri';
	font-size: 1em;
}

#mytooltip h1{
	font-family: 'Calibri';
	font-size: 1.5em;
}

#maxImage{
  max-width:500px;
  border:1px solid;
  text-align:center;

}
#cusPara{
  max-width: 480px;
   border-top-style: solid;
   border-width: 2px;

}

#select
{
	margin:5px;
}

#close
{
	float:right;
}
