.option
{
    width:600px; 
    margin:0 auto;
    position:fixed;
    left:54%;
    top:20%;
    margin-left:-400px; 
	font-size: 20px;
	text-align: center;
    background: white;	
	z-index: 9999;
	border: 10px solid #888888;
	border-radius: 5px;	
	padding: 10px;
	background-color: #F0FFF0;
}

.section
{
	border: 1px solid #cccccc;
	padding:5px;
	float:left;
	margin: 15px;
	padding-bottom: 15px;
}

#savediv
{
	padding:5px;
	float:left;
	margin: 15px;
	margin-top:30px;
	height:90px;
}

#save
{
	padding:5px;
	margin: 15px;
}

#status
{
	font-size: 10px;
	height:30px;
}

